@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
*,*::before,*::after{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    font-family: "Ubuntu", sans-serif;
    font-weight: normal;
    background: linear-gradient(to right, rgb(255, 0, 157), rgb(119, 0, 255));
}

body > h1{
    text-align: center;
}

body > p {

    text-align: center;

}

.intro {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.intro > p {
    font-size: 20px;
    width: 60%;
    text-align: center;
}

.intro > button {
    font-size: 30px;
    border-radius: 5px;
    border : none;
    background: rgb(133, 219, 83);
}

.intro > button:hover {
    background: rgb(99, 139, 75);
    transition: ease-in-out(200ms);
}

.calculator-grid{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: minmax(120px,auto) repeat(6,90px);
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 5px solid rgb(66, 62, 62);
    outline: none;
    background-color: rgba(255, 255, 255, 75%);
}

.calculator-grid > button:hover{
    background-color: rgba(77, 71, 71, 0.5);;
}

.span-two{
    grid-column: span 2;
}

.span-three {
    grid-column: span 3;
}

.span-four {
    grid-column: span 4;
}

.output {
    grid-column: 1 / -1;
    background-color: rgba(83, 75, 75, 80%);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand {
    color: rgba(255, 255, 255, 75%);
    font-size: 1.5rem;
}
.output .current-operand {
    color: rgba(255, 255, 255, 100%);
    font-size: 2.5rem;
}